body{
    /* width: 90vw;
    height: 90vh;
    font-weight: bold;
    font-size: x-large;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: space-evenly; */
}
.main{
    /*display: flex;
    flex-direction: column;
    justify-items: center;*/
}
.todo-li{
    display: flex;
    text-align: center;
    /*width: 25%;*/
    flex-direction: column;
    justify-items:center;
    border-style: solid;
    border-width: 1px;
    /* align-items: center; */
}
.todo-title{
    /*font-weight: bold;
    font-size: x-large;*/
}
.todo-date{
    color: #515153;
}
.todo-btn{
    /*width: 20%;*/
}
.addNew{
    /*width: 20%;
    align-self: center;
    border-style: solid;
    border-width: 2px;*/
}
.completed{
    border-color: green;
    border-width: 8px;
}
.todo-Object{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-items:center;
    border-style: solid;
    border-width: 1px;
}